//colors
$color_fuscous_gray_approx: #555;

.header {
	img {
		float: left;
		width: 100px;
		height: 100px;
		background: $color_fuscous_gray_approx;
	}
	h1 {
		position: relative;
		top: 18px;
		left: 10px;
	}
}