<template name="welcome">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h3 class="page-header">Welcome to the SciDev adventure</h3>
     <p>Would you like to take over the world with your genious mind,
        do you need software developers to create machines of world domination?
        Click here and login as a</p> <a href="{{pathFor 'signupScientist'}}">Scientist?</a>
        <hr>
        <p>Are you a smartass software engineer who is lazy but super talented?
        DO you want to take over the world but not think about how to do it but help achieve it? Take advantage of the Scientist they have nice ideas, you can put them to use and   <strike>create better place</strike> do world domination. You just have to be a </p> <a href="{{pathFor 'signupDeveloper'}}">Developer?</a>
    </div> <!-- end .col-xs-12 -->
  </div> <!-- end .row -->
</template>
